/* Mobile styling */

/* oldlace color: #fdf5e6 */

body {
    margin: 0;
    font-family: 'Yusei Magic', sans-serif;
    background-color:#ffe5b4;
    margin-bottom: 25px;
}

/* sign-in page */

.header {
    text-align: center;
    color: #111;
}

.form-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    text-align: center;
    padding: 10px;
}

.form > input {
    font-size: medium;
    width: 60%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.form > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-size: medium;
    padding: 5px;
    border-radius: 15px;
    background-color: #222;
    color: #ffe5b4;
    font-family: sans-serif;
}

.member-text {
    text-align: center;
    text-decoration-line: underline;
    color: #111;
}

.app-description {
    width: 75vw;
    margin: auto;
}



